@use '../../App.scss' as *;

.home_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.home_content {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.image_container {
  display: grid;
  place-items: center;
  position: relative;

  .gimic_wrapper {
    z-index: 100;
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    // background: rgb(238, 216, 174);
    // background: radial-gradient(
    //   circle,
    //   rgba(238, 216, 174, 0.3) 0%,
    //   rgba(99, 92, 78, 0.3) 100%
    //);

    > h2 {
      position: absolute; /* postulat de départ */
      top: 50%;
      left: 50%; /* à 50%/50% du parent référent */
      transform: translate(-50%, -50%);
      font-size: 3em;
      text-transform: capitalize;
      font-family: apercu-regular;
      letter-spacing: 0.1em;
      text-shadow: rgb(66, 66, 66) 0px 0px 38px;
      color: white;
      // background-color: rgba(255, 255, 255, 0.336);
      text-align: center;
      font-family: Montserrat-variable;
      font-size: 3vw;
      margin: 0;
      line-height: 1.5em;
      padding: 0 0.5em;
      width: 100%;
    }
  }

  .image-wrapper {
    width: 100%;
    > img {
      width: 100%;
      aspect-ratio: 24/9;
      object-fit: cover;
      outline: 2px solid white;
      outline-offset: -0.5em;
    }
  }
}

.image_container .image-wrapper {
  display: inline-block;
  overflow: hidden;
}

.carousel {
  border-radius: 7px !important;
}

.carousel .slide img {
  border-radius: 7px !important;
  height: 450px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.carousel-status {
  display: none;
}

.carousel.carousel-slider .control-arrow {
  padding: 15px;
}

.thumbs-wrapper {
  display: none;
}

.welcome_title {
  margin: 2em;
  margin-top: 5em;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 0.5em;
}

.container_global_infos {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  text-align: center;

  .icon {
    text-align: center;
  }
}

.who_are_we_container {
  display: flex;
  gap: 2em;
  padding: 0 3em;
  position: relative;

  div > figure {
    .decorative_svg {
      margin-top: 2em;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover .decorative_svg {
      transform: scale(3);
    }
  }

  // &:hover img {
  //   transform: scale(1.5);
  // }
  > .who_are_we_desc {
    > h3 {
    }
    > p {
      backdrop-filter: blur(1px);
      border-radius: 7px;
      font-family: Montserrat-variable;
      // text-shadow: rgb(0, 0, 0) 0px 0px 38px;
    }
  }
}

.bedrooms {
  width: 100%;
  margin-top: 1em;

  .bedroom {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .bed_card {
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0 8px 32px 0 rgba(175, 175, 175, 0.37);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border: 1px solid rgba(190, 190, 190, 0.18);
      border-radius: 50px;
      transition: all ease 0.3s;

      &:hover {
        box-shadow: 0px 0px 70px rgba(46, 46, 46, 0.295) !important;
      }

      > .room_desc {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3/4;
        border-radius: 7px;
      }
    }
  }
}

.container_activities {
  padding: 1em 0;
  border-radius: 7px;
  padding: 1em;
  > h2 {
    margin-top: 0;
  }

  .activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    text-align: center;

    .activity {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 18px;

      h3 {
        font-size: 1.5em;
        margin: 0;
      }

      .activity_content {
        position: absolute;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
        backdrop-filter: blur(4px);
      }

      &:hover .activity_content {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
        border-radius: 7px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .who_are_we_container {
    > div > figure {
      margin: 0;
    }
  }
  .welcome_title {
    margin-top: 1em !important;
  }
  .container_global_infos {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .container_activities {
    .activities {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}

@media screen and (max-width: 850px) {
  .who_are_we_container {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media screen and (max-width: 930px) {
  .bedrooms {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bedroom {
      flex-direction: column;
      gap: 2em;
      margin: 1em !important;

      img {
        aspect-ratio: 16/9 !important;
      }
    }
  }
}

@media screen and (max-width: 455px) {
  .who_are_we_container {
    > .decorative_svg {
      // margin-top: 25em !important;
    }
  }
  .container_global_infos {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media screen and (min-width: 1100px) {
  .gimic {
    font-size: 2em !important;
  }
}
