@use '../../App.scss' as *;

.header_container {
  // display: flex;
  z-index: 100;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.795);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  // border-radius: 13px;

  > nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    .bastide_logo {
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        height: 90px;
      }
    }

    .links_container {
      .underline {
        text-decoration: underline;
      }
      > a {
        color: rgb(61, 61, 61);
        text-decoration: none;
        list-style-type: none;
        transition: 0.5s all ease;
        padding: 2em 1em;
        white-space: nowrap;

        &:hover {
          color: #000;
          background-color: rgba(60, 88, 55, 0.116);
        }
      }
    }
    .language_selector {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      > select {
        padding: 1em 0.5em;
        background-color: #00000000;
        border: 0;
        position: relative;
        cursor: pointer;
      }
    }

    .menu-hamburger {
      display: none;
      cursor: pointer;
      top: 50px;
      right: 50px;
      border-radius: 1000%;
      border: 2px solid rgba(140, 255, 184, 0);
      margin: 0 1em;

      padding: 0.5em;
      &:hover {
        border: 2px solid rgba(140, 255, 184, 0.226);
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .menu-hamburger {
    display: block !important;
  }
  .header_container .links_container,
  .header_container .language_selector {
    display: none !important;
  }

  .header_container > nav {
    justify-content: space-between;
  }
}
