@use '../../App.scss' as *;

.footer_container {
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  white-space: nowrap;
  position: static;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  //   color: white;
  .container_adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    color: black;
    background-color: rgb(251, 251, 251);
    a {
      color: black;
      &:hover {
        color: black;
      }
    }

    .adresse {
      display: flex;
      flex-direction: column;
      > div > p {
        user-select: unset;
      }
      a {
        margin: 1em;
      }
    }

    .container_gmaps {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      > .iframe_map {
        max-width: 700px;
        height: 400px;
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  .container_bottom_footer {
    padding: 1em;
    background: rgb(139, 102, 67);
    background: linear-gradient(
      159deg,
      rgba(139, 102, 67, 1) 0%,
      rgba(152, 122, 97, 1) 50%,
      rgba(221, 190, 168, 1) 100%
    );
    .container_links {
      display: flex;
      justify-content: center;
      gap: 1em;
      margin: 1em;
    }
    .container_legals {
      display: flex;
      justify-content: center;
      > a {
        padding: 1em;
      }
    }
    .copyright {
      text-align: center;
    }
  }
}
