@use '../../App.scss' as *;

.footer_container {
  background-color: $bdp_light_green;
  white-space: nowrap;
  padding: 1em;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  //   color: white;
  .container_adresse {
    text-align: center;
    margin: 2em;
  }
  .container_links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }
  .container_legals {
    display: flex;
    justify-content: center;
    > a {
      padding: 1em;
    }
  }
  .copyright {
    text-align: center;
  }
}
