@use '../../App.scss' as *;

.footer_container {
  background-color: $bdp_gold;
  white-space: nowrap;
  padding: 1em;
  position: static;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  //   color: white;
  .container_adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin: 2em;

    .adresse {
    }

    .container_gmaps {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      > .iframe_map {
        max-width: 700px;
        height: 400px;
        width: 100%;
        border-radius: 20px;
      }
    }
  }
  .container_links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
  }
  .container_legals {
    display: flex;
    justify-content: center;
    > a {
      padding: 1em;
    }
  }
  .copyright {
    text-align: center;
  }
}
