@use '../../App.scss' as *;

.chambre_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.chambre_content {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.custom_carousel {
  cursor: pointer;
}

.images_horizontal_list {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  //   height: 30vh;
  gap: 0.5em;
  overflow-x: scroll;
  border-radius: 7px;

  .horizontal_image {
    display: flex;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
      border-radius: 7px;
    }
  }

  &::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement */
  }
}

.chambre_description {
  display: flex;
  margin: 1em;

  .chambre_presentation {
    //   width: 50vw;
    margin: 1em 2em;
    font-family: alergia-regular;
    line-height: 1.5em;

    > p {
      margin: 1em 0;
    }
  }

  .book_this_bedroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 7px;
    background: rgb(255, 235, 180);

    .links {
      display: flex;
      gap: 1em;
      > div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .images_horizontal_list {
    .horizontal_image > img {
      aspect-ratio: 4/3 !important;
    }
  }
}
