:root {
  --bdp-base: #7a00e6;

  --bdp-darkest: #23004c;
  --bdp-darker: #3c217b;
  --bdp-dark: #5718b0;

  --bdp-lightest: #f4f2f6;
  --bdp-lighter: #b3a8e6;
  --bdp-light: #8966db;

  --success: #c5f4dd;
  --danger: #d72b3f;
  --danger-dark: #861b27;
  --danger-light: #fae4e7;
  --warning: #ff9900;
  --wargning-dark: #754804;
  --warning-light: #fff2df;
  --info: #578aff;
  --info-dark: #00257b;
  --info-light: #eaf0ff;

  --grey: #4f4f4f;
  --grey-light: #e4e4e4;
  --grey-dark: #595959;

  --white: #ffffff;
  --black: #000000;
  --dark: #343a40;
  --light: #f2f2f2;

  --bdp-btn-shadow: var(--bdp-lighter) 0px 0px 0px 4px;
  --bdp-btn-grey-disabled: #aeaeae;
}
